<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super60 students</title>
</head>
<body>
    <h1>Super69 stds</h1>

    <!-- Search Bar -->
    <form action="/search" method="GET">
        <input type="text" name= "name" placeholder="Search by name">
        <button type="submit">Search</button>
    </form>

    <!-- Adding New student button -->
     <form method="GET" action="/add-student">
        <button type="submit">Add new student</button>
     </form>

    <!-- Student list -->
    <ul>
        {% for student in students %}
            <li>
                <a href="/profile/{{ student._id }}">Name: {{student.name}}, Age: {{student.age}}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>